In [1]:
# TASK 1
#importing mysql.connector
import mysql.connector as sql

In [2]:
#connecting to the SQL 
db_hr = sql.connect(host = 'localhost', user='root', password='Yes2000', database='hr')
db_hr

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
cursor = db_hr.cursor()

In [ ]:
#querting the hr database 
query = "select country_name , region_name from countries join regions on countries.region_id = regions.region_id;"
cursor.execute(query)

In [ ]:
#fetching the all details
cursor.fetchall()

In [ ]:
# TASK 2 querying the hr data base for the country wise employee count and storing it in to the df1
country_wise_emp_count_df1 = pd.read_sql_query("""select countries.country_name, count(employee_id) as country_wise_emp_count from employees
join departments on employees.department_id = departments.department_id
join locations on departments.location_id = locations.location_id
join countries on locations.country_id = countries.country_id
group by countries.country_name;""",db_hr)
country_wise_emp_count_df1

In [ ]:
pip install pymysql

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# credentials
hostname= 'localhost'
dbname= 'db_hr'
user= 'root'
pwd= 'Yes2000'

In [ ]:
engine= create_engine("mysql+pymysql://{user}:{pwd}@{host}/{db}".format(user= user, pwd= pwd, host= hostname,db= dbname ))

In [ ]:
#pushing the data to MySql
country_wise_emp_count_df1.to_sql("country_wise_emp_count1", engine, index= False)
#data is successsfully pushed

In [ ]:
#connecting to the db_hr to fetch the country_wise_emp_count1 tabel, which is just pushed to the MySql
#validation step
country_wise_emp_count1 = sql.connect(host = 'localhost', user='root', password='Yes2000', database='db_hr')
country_wise_emp_count1

In [ ]:
#so, Now we can get the pushed data with out using any joins.
cursor.execute("SELECT * FROM db_hr.country_wise_emp_count1;")

In [ ]:
#fetching the country_wise_emp_count1 table
cursor.fetchall()

In [ ]:
# TASK 3
import pandas as pd

In [ ]:

df1 = pd.read_sql_query("""select countries.country_name, count(employee_id) as country_wise_emp_count from employees
join departments on employees.department_id = departments.department_id
join locations on departments.location_id = locations.location_id
join countries on locations.country_id = countries.country_id
group by countries.country_name;""",db_hr)
df1

In [ ]:
df1.to_csv('country_wise_emp_count') #saving as csv file

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Sort the DataFrame by 'country_wise_emp_count'
df1_sorted = df1.sort_values(by='country_wise_emp_count', ascending=True)

# Define a list of colors
colors = ['skyblue', 'lightgreen', 'salmon', 'orange', 'lightcoral']

# Create a horizontal bar plot
plt.figure(figsize=(10, 6))
bars = plt.barh(y=df1_sorted['country_name'], width=df1_sorted['country_wise_emp_count'], color=colors)

# Add labels to each bar
for bar in bars:
    width = bar.get_width()  # Get the width of the bar
    plt.text(width + 1, bar.get_y() + bar.get_height() / 2,  # Position of the label
             f'{width}',  # Label text
             va='center',  # Vertical alignment
             ha='left')  # Horizontal alignment

plt.title('Country-wise Employee Count')
plt.xlabel('Number of Employees')
plt.ylabel('Country Names')
plt.grid(axis='x', linestyle='--', alpha=0.7)
plt.show()

In [ ]:
#query that fetch the city_wise_emp_count and stored in a form of df1 dataframe

df2 = pd.read_sql_query("""select locations.city, count(employee_id) as city_wise_emp_count from employees
join departments on employees.department_id = departments.department_id
join locations on departments.location_id = locations.location_id
join countries on locations.country_id = countries.country_id
group by locations.city;""", db_hr)
df2

In [ ]:
df2.to_csv('city_wise_emp_count')  #saving as csv file

In [ ]:
# Sort the DataFrame by 'city_wise_emp_count'
df2_sorted = df2.sort_values(by='city_wise_emp_count', ascending=True)

# Define a list of colors
colors = ['skyblue', 'lightgreen', 'salmon', 'orange', 'lightcoral']

# Create a horizontal bar plot
plt.figure(figsize=(10, 6))
bars = plt.barh(y=df2_sorted['city'], width=df2_sorted['city_wise_emp_count'], color=colors)

# Add labels to each bar
for bar in bars:
    width = bar.get_width()  # Get the width of the bar
    plt.text(width + 1, bar.get_y() + bar.get_height() / 2,  # Position of the label
             f'{width}',  # Label text
             va='center',  # Vertical alignment
             ha='left')  # Horizontal alignment

plt.title('City-wise Employee Count')
plt.xlabel('Number of Employees')
plt.ylabel('City Names')
plt.grid(axis='x', linestyle='--', alpha=0.7)
plt.show()